.ac-container{
    background-size: 100% 100% !important;
    background-color: #DCF0F7;
}

ul{
    list-style: none;
    padding: 0 0 0 0;
}

ul li {
    margin-top: 10px;
}

.flight_card{
    margin-top:10px;
}